@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&family=Play:wght@400;700&family=Zen+Tokyo+Zoo&display=swap');

html,
body {
    overflow-x: hidden;
}


/* General Styles */
body {
    padding-top: 97.77px;
    background-color: black;
}


h1 {
    font-display: uppercase;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 25vw;
}

#contact-logo {
    position: absolute;
    right: 10px;

}

/* Navbar Styles */

.navbar {
    background-image: linear-gradient(to bottom, rgb(36, 30, 30), rgb(161, 245, 36));

}

nav li {
    padding: 0 100px;

}

.navbar-brand img {
    width: 200px;

}

.navbar .navbar-nav .nav-link {
    color: black;
    font-size: 1.4em;
}

.navbar .navbar-nav {

    border-bottom: 2px solid black;
}

.nav-link {
    font-family: play;

}





/* Background Image Styles */
.centered-image {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    border: none;
    border-radius: 3px;
    border-color: #E8E8E8;

}

#show_bg_2 {
    background-image:
        linear-gradient(to bottom, rgba(24, 24, 26, 0.52), rgba(173, 255, 22, 0.849)),
        url('../images/pexels-anastasia-shuraeva-4944435.jpg');
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
}

#bg-text {
     position: absolute;
    top: 20%;  
    left:15%; 
    font-family:play;
    background-color:rgba(15, 15, 15, 0.6);
    color:#bcd145;
    width:75%;
    border-radius:20px;
}

.btn {
    border-radius: 0 !important;
}

#contact-btn {
    font-family:play;
    color:#bcd145;
    background:black;    
}

#contact-btn:hover {
    color:white;
}

/* Main Content Styles */


#servicesgym {
    background-image: url(../images/samuel-girven-fqMu99l8sqo-unsplash.jpg);
    width: 100%;
    height: 395px;
    background-size: cover;
    background-position: center;
    margin: 5px;
}

.gym-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.image {
    width: 100%;
    position: relative;
    max-height: 400px;
}

#servicesimg {
    width: 100%;


}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;

}

.content:hover {
    opacity: 1;
}

.content h1 {

    color: #bcd145;
    margin-bottom: 10px;
    text-decoration: none;
}

#underline {
    text-decoration: none;
}


.content>* {
    transform: translateY(25px);

}


table tr td,
table tr th {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.center {
    margin-left: auto;
    margin-right: auto;

}

#tabletime {
    font-family: 'Zen Tokyo Zoo', cursive;
    color: #bcd145;
    padding-top: 10px;

}

/* Service styles */

#service {
    padding-top: 50px;
    font-family: 'Zen Tokyo Zoo', cursive;
    color: #bcd145;
}

#srvc-cards {
    background-color: black;
    margin: 5px;


}

#srvc-img {
    height: 25vw;
    object-fit: cover;


}

#boxing-button {
    background-color: #bcd145;
    border: none;
    font-family: play;
    color: black;
    font-size: 20px;
    height:37px;
    
}



#sauna-button {
    background-color: #bcd145;
    border: none;
    font-family: play;
    color: black;
    font-size: 20px;
    height:37px;
}

#pool-button {
    background-color: #bcd145;
    border: none;
    font-family: play;
    color: black;
    font-size: 20px;
    height:37px;
}

#trainer-button {
    background-color: #bcd145;
    border: none;
    font-family: play;
    color: black;
    font-size: 20px;
    height:37px;
}

ul li {
    color:white
}

ul h2 {
    font-family:play;
    color:#bcd145
}

/* Gallery styles */


#gallery {
    padding-top: 50px;
    font-family: 'Zen Tokyo Zoo', cursive;
    color: #bcd145;
    text-decoration: underline 3px;

}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    transition:0.2s linear;
}
 .container-box {
    padding:2rem 5%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
 }
  .container-box .image-container {
    columns:15rem 3;
    gap:1.4rem;
  }

  .container-box .image-container img {
    width: 100%;
    margin-bottom:1rem;
    border-radius:0.7;
  }

  .container-box .image-container img:hover {
    transform:scale(1.01);
  }






/* footer styles */

footer {
    background-image: linear-gradient(rgb(173, 255, 47) 83%, #1b1b1b 17%);
}

#social-links {
    text-align: center;
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

#social-links i {
    font-size: 200%;
    color: rgb(173, 255, 47);
}



@media screen and (min-width:992px) {
    .navbar .container-fluid {
        flex-direction: column;
    }


}

@media only screen and (max-width: 600px) {
    body {
        padding-top: 51px;
    }
}

@media only screen and (max-width: 950px) {
    body {
        padding-top: 51px;


    }
}

@media screen and (min-width:601px) {
    h1 {
        font-size: 15vw;
    }
}

@media screen and (min-width:1024px) {
    h1 {
        font-size: 12vw;
    }
}