@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Zen+Tokyo+Zoo&display=swap');

html,
body {
    overflow-x: hidden;
}

/* General Styles */
body {
    padding-top: 97.77px;
    background-color: black;
}

h1 {
    text-transform: uppercase;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 25vw;
}

#contact-logo {
    position: absolute;
    right: 10px;
}

/* Navbar Styles */

.navbar {
    background-image: linear-gradient(to bottom, rgb(36, 30, 30), rgb(161, 245, 36));

}

nav li {
    padding: 0 100px;

}

.navbar-brand img {
    width: 200px;

}

.navbar .navbar-nav .nav-link {
    color: black;
    font-size: 1.4em;
}

.navbar .navbar-nav {

    border-bottom: 2px solid black;
}

.nav-link {
    font-family: play;

}

/* Background Image Styles */
.centered-image {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    border: none;
    border-radius: 3px;
    border-color: #E8E8E8;

}

#show_bg_2 {
    background-image:
        linear-gradient(to bottom, rgba(24, 24, 26, 0.52), rgba(173, 255, 22, 0.849)),
        url('../images/index.html-main-image.webp');
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
}

#bg-text {
    position: relative;
    top: 20%;
    left: 13%;
    font-family: play;
    background-color: rgba(15, 15, 15, 0.6);
    color: #bcd145;
    width: 75%;
    border-radius: 20px;
    padding:5px;
}

.btn {
    border-radius: 0 !important;
}

#contact-btn {
    position:sticky;
    font-family: play;
    color: #bcd145;
    background: black;  
}

#contact-btn:hover {
    color: white;
}

/* Main Content Styles */

#servicesgym {
    background-image: url(../images/index.html1-services-image.webp);
    width: 100%;
    height: 395px;
    background-size: cover;
    background-position: center;
    margin: 5px;
}

.gym-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.image {
    width: 100%;
    position: relative;
    max-height: 400px;
}

#servicesimg {
    width: 100%;


}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;

}

.content:hover {
    opacity: 1;
}

.content h1 {

    color: #bcd145;
    margin-bottom: 10px;
    text-decoration: none;
}

#underline {
    text-decoration: none;
}

.content>* {
    transform: translateY(25px);

}

table tr td,
table tr th {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.center {
    margin-left: auto;
    margin-right: auto;

}

#tabletime {
    font-family: 'Zen Tokyo Zoo', cursive;
    color: #bcd145;
    padding-top: 10px;
    font-size: 5rem;
}

#servbutton {
    font-size: 6rem;
}

/* Service styles */

#service {
    padding-top: 50px;
    font-family: 'Zen Tokyo Zoo', cursive;
    color: #bcd145;
}

.infocard {
    background-color: black;
    margin: 5px;
}

.srvc-img {
    height: 25vw;
    object-fit: cover;
    border-radius: 5px;
}

#boxing-button {
    background-color: #bcd145;
    border: none;
    font-family: play;
    color: black;
    font-size: 1.3rem;
    height: 37px
}

#sauna-button {
    background-color: #bcd145;
    border: none;
    font-family: play;
    color: black;
    font-size: 1.3rem;
    height: 37px;
}

#pool-button {
    background-color: #bcd145;
    border: none;
    font-family: play;
    color: black;
    font-size: 1.3rem;
    height: 37px;
}

#trainer-button {
    background-color: #bcd145;
    border: none;
    font-family: play;
    color: black;
    font-size: 1.3rem;
    height: 37px;
}

ul li {
    color: white;
    padding: 8px;
    font-size: 1.2rem;
}

ol li {
    font-size: 1.1rem;
}

.benefit {
    font-family: play;
    color: #d4ff00
}

div ol {
    color: #d4ff00
}

/* Gallery styles */

#gallery {
    padding-top: 50px;
    font-family: 'Zen Tokyo Zoo', cursive;
    color: #bcd145;
    text-decoration: underline 3px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s linear;
}

.container-box {
    padding: 2rem 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container-box .image-container {
    columns: 15rem 3;
    gap: 1.4rem;
    width: 100%;
}

.container-box .image-container img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 1px;
}

.container-box .image-container img:hover {
    transform: scale(1.01);
}

/* Booking From styles */

.signup {
    background-color: rgba(15, 15, 15, 0.5);
    color: white;
    padding: 50px;
    margin: 50px;
}

.form-label {
    width: 50%;
}

#signupform {
    background-image: url(../images/booking-form-background1.webp);
    background-size: cover;
}

#emailHelp {
    color: white;
    font-size: 15px;
}

#btn-submit {
    background-color: #141413;
    border: none;
    font-family: play;
    color: yellowgreen;

}

#btn-submit:hover {
    background-color: #d4ff00;
    color: black;

}

#location {
    color: #d4ff00;
    background: rgba(0, 0, 0, 0.5);
    font-family: play;
    width: 100%;
    margin: 20px;
}

#maps {

    width: 100%;
    margin: 20px;

}

/* footer styles */

footer {
    background-image: linear-gradient(rgb(173, 255, 47) 83%, #1b1b1b 17%);

}

#social-links {
    text-align: center;
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

#social-links i {
    font-size: 200%;
    color: rgb(173, 255, 47);
}

#contactinf {
    font-family: 'Zen Tokyo Zoo', cursive;
    margin-top: 20px;
    font-size: 6rem;
}

/* Success HTML styles */

#successbtn {
    padding-top: 100px;
    font-size: 6rem;
    color: #d4ff00;
    margin:20px;
}

#returnbtn {
    color:yellowgreen;   
}

#returnbtn:hover {
    color:darkgreen;
}



/* Media  quaries styles */

@media screen and (min-width:992px) {
    .navbar .container-fluid {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    body {
        padding-top: 51px;
    }
}

@media only screen and (max-width: 950px) {
    body {
        padding-top: 51px;
    }
}

@media screen and (min-width:601px) {
    h1 {
        font-size: 15vw;
    }
}

@media screen and (min-width:1024px) {
    h1 {
        font-size: 12vw;
    }
}

@media screen and (max-width:480px) {
    #bg-text {
        font-size: large
    }

    #tabletime {
        font-size: 3rem;
    }

    .signup {
        margin: 10px;
    }

    #gallery {
        font-size: 70px;
    }

    #successbtn {
        font-size: 70px;
    }

    ol li {
        font-size: 0.8rem;
    }

    ul li {
        font-size: 0.8rem;
    }

    body {
        padding-top: 40px;
    }
    #contactinf {
    font-size: 3rem;
    }
}

@media screen and (max-width:425px) {
    #location {
        font-size: 1rem;
    }
    #maps {
        width: 100%;
        margin: 40px;
    }
    #contactinf {
        font-size: 3rem;
    }
    #servbutton {
        font-size: 3rem;
    }
}

@media screen and (max-width:375px) {
    #location {
        margin: 20px;
    }
    #maps {
        margin: 20px;
    }
    #successbtn {
    font-size: 3rem;
    } 
}

